<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.three.stone.db.mappers.StudentInfoMapper">
    <cache/>
    <sql id="tableName">t_student_info</sql>
    <sql id="allColumn">student_id,name,email,phone,age</sql>

    <resultMap id="rm" type="studentInfo">
        <result property="studentId" column="student_id"/>
    </resultMap>

    <select id="selectById" resultMap="rm">
        select * from
        <include refid="tableName"/>
        where student_id = #{studentId}
    </select>

</mapper>